<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteRule ^(.*)\.html$ $1.php [R=301,NC,L]
</IfModule>
<IfModule mod_php5.c>
	php_value auto_prepend_file "runty/runty-core.php"
</IfModule>
php_value auto_prepend_file none
