<FilesMatch "\.(htm|html|php)$">
	SetHandler application/x-httpd-php
</FilesMatch>

<IfModule mod_php5.c>
	php_value auto_prepend_file "../runty/app/runty-prepend.php"
	php_value auto_append_file "../runty/app/runty-append.php"
</IfModule>
