<!DOCTYPE html>
<html lang="en"><head><meta charset="utf-8"><title>Aloha Editor Nano CMS</title><meta name="description" content="Aloha Editor Nano CMS"><meta name="author" content="Aloha Editor Team">
	<script type="text/javascript" src="assets/js/load-aloha-nano-cms.js"></script>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements --><!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head><body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <span class="aloha-nano-cms-editable"><a class="brand" href="#">Aloha Editor Nano CMS</a></span>
modal-create-page          <ul class="nav">
			<li class="active"><a href="./">Home</a></li>
            <li><a href="./">Sitemap</a></li>
          </ul>

			<a id="create-page" href="#" data-controls-modal="modal-create-page" data-backdrop="true" data-keyboard="true" class=" danger"><span class="label success">New Page</span></a>
            <a id="edit-page" href="#"><span class="label notice">Edit</span></a>
            <a id="save-page" href="#"><span class="label warning">Save</span></a>


        </div>
      </div>
    </div>

    <div class="container">

		<div id="aloha-loading" class="alert-message notice">
		  <a class="close" href="#">&Atilde;&#151;</a>
		  <p>Loading Aloha Editor</p>
		</div>
		

		<div id="log" class="alert-message notice">
		  <a class="close" href="#">&Atilde;&#151;</a>
		  <p>No message.</p>
		</div>
		
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="data-head" class="hero-unit aloha-nano-cms-editable">
        <h1>Aloha, world!</h1>
        <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div id="data-1" class="span-one-third aloha-nano-cms-editable">
          <h2>Heading one</h2>
          <p>Edit this text.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>

        <div id="data-2" class="span-two-thirds aloha-nano-cms-editable"><h2>Heading two</h2><p>Edit this text.</p>
	<a class="btn" href="#">View details &raquo;</a></div>
	
      </div>

      <div id="footer"><p>&copy; Aloha Editor Nano CMS 2011</p>
      </div><!-- /container -->


</body></html>
