body {

}

#save-page {
	/* display: none; // does not work with jquery hide/show (and twitter bootstrap) */
}

.cms-actions {
	font-size: 10px;
}

#footer {
  margin-top: 17px;
  padding-top: 17px;
  border-top: 1px solid #eee;
}


/** runty toolbar **/
#runty-toolbar {
	border: 1px dotted gray;
	margin: 5px;
	padding: 5px;
}

#runty-actions {
	
}
