/* runty.css is part of the Runty NoCMS project http://runtyapp.org
*
* Runty is a handy NoCMS utilizing the power of Aloha Editor
* -- a modern WYSIWYG HTML5 inline editing library and editor.
*
*
* Runty is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or any later version.
*
* Runty is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
*
* Online: https://www.gnu.org/licenses/gpl-2.0.html
*/

/** runty toolbar **/
#runty-toolbar {
	border: 1px dotted gray;
	margin: 5px;
	padding: 5px;
	color: black;
	background-color: white;
}

#runty-notice-draft {
	border: 1px dotted gray;
	margin: 5px;
	padding: 5px;
	font-family: Verdana;
	font-size: 0.7em;
	color: black;
	background-color: white;
}

/** runty actions panel **/
#runty-actions {

}

/** runty authenticate icon (browserid) **/
#runty-authenticate {
	position: absolute;
	top: 20px;
	left: 125px;
	z-index: 1000;
}
