/* news.css is part of the Runty. The NoCMS project http://runtyapp.org
*
* Runty is a handy NoCMS utilizing the power of Aloha Editor
* -- a modern WYSIWYG HTML5 inline editing library and editor.
*
*
* Runty is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or any later version.
*
* Runty is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
*
* Online: https://www.gnu.org/licenses/gpl-2.0.html
*/

body {
	margin: 0;
	padding: 0;
	font - family: Helvetica,
	Arial,
	sans - serif;
}

h1, ol#tweets p {
	font - family: Georgia,
	"Times New Roman",
	serif;
	font - weight: normal;
}

ol {
	margin: 0;
	padding: 0;
	list - style: none outside none;
}

#header {
	background - color: black;
	margin - bottom: 2em;
}

h1 {
	color: white;
	padding: 0.667em 0;
	margin: 0;
	text - align: center;
}

ol#tweets.loading {
	padding: 6em 0;
	background: url('./theme/images/loading.gif') no - repeat center;
}

ol#tweets li {
	padding: 1.25em 0;
	border - bottom: 1px solid#e9e9e9;
}

ol#tweets li.error {
	margin: 50px 0 30px 0;
	font - family: Georgia,
	"Times New Roman",
	serif;
	text - align: center;
	font - size: 1.5em;
}

ol#tweets p {
	font - size: 1.5em;
	color: #666;
}

ol# tweets p span.time {
	font - size: 0.7em;
	color: #bbb;
}

.user img {
	float: right;
	padding: 5px;
	border: 1px solid#e9e9e9;
	margin - right: 20px;
}

.user h3 {
	float: right;
	margin: 0 15px 0 0;
	color: #333;
	line-height: 60px;
}

# multicolumnElement {
	-webkit - column - width: 300px; - webkit - column - gap: 20px; - moz - column - width: 300px; - moz - column - gap: 20px;
	width: 940px;
	height: 700px;
	margin: 0 auto;
}

h1 {
	font - family: 'Lobster';
	line - height: 140 % ;
	text - rendering: optimizeLegibility;
	margin: 10px auto;
	font - size: 10em;
	color: #2a719e;
	text-align:center;
}

h2 {
	font-family: 'Lobster';
	line-height: 140%;
	text-rendering: optimizeLegibility;
	margin:20px auto;
	font-size:3em;
	color: # 2a719e;
	text - align: center;
}

h3 {
	font - family: 'Lobster';
	line - height: 120 % ;
	text - rendering: optimizeLegibility;
	margin: 20px auto;
	font - size: 2.2em;
	color: #2a719e;
	text-align:center;
}

.p-intro {
	font-size: 1.5em;
	line-height: 1.3em;
	text-align:left !important;
	font-family: 'Lobster';
}

p {
	font-family: georgia;
	font-size: 1em;
	line-height: 1.4em;
	text-align: justify;
}

NO.p-intro:first-letter {
	color: # 5499c5;
	display: inline;
	float: left;
	font - size: 4em;
	margin: 0px;
	padding: 0.2em 0.1em 0 0.1em;
	text - transform: capitalize;
	font - family: 'Lobster';
}

.content img {
	display: block;
	width: 300px;
	overflow: visible;
}

/* universal footer */
ul#tempo-actions {
	text-align: center;
	background-color: #f0f0f0;
	margin: 3em 0 0 0;
	padding: 3em;
}
ul#tempo-actions li {
	display: inline-block;
	margin-right: 0.5em;
}
ul#tempo-actions li a {
	display: block;
	padding: 1em;
}
ul#tempo-actions li:hover {
	background-color: #e0e0e0;
}
ul#tempo-actions li:active {
	background-color: #ccc;
}
ul#tempo-actions li.download a {
	color: white;
	background-color: blue;
}
ul#tempo-actions li.download a:hover {
	background-color: darkblue;
}
ul#tempo-actions li.download a:active {
	background-color: black;
}
#footer {
	background-color: black;
	color: white;
	padding: 2em 0px;
}
#footer a {
	color: white;
}
