html {
	height:100%;
	font-family: "Lucida Grande",Lucida,Verdana,sans-serif;
}
body {
	overflow:hidden;
	/* needed to eliminate scrollbars caused by the background image */
	padding:0;
	margin:0;
	/* necesarry for the raster to fill the screen */
	height:100%;
	width:100%;
	background-color:#fff;
	color:#000;
	font:13px/18px monospace;
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
}
#player {
	position:absolute;
	z-index: -1;
}
#realBody {
	position:absolute;
	z-index:5;
	/* Place the new body above the background image */
	overflow:auto;
	/* restore scrollbars for the content */
	height:100%;
	width:100%;
	/* Make the new body fill the screen */
	background:url('../img/raster.png');
	/* this is just a fancy raster,you can remove it */
}
/* 800 x 133 */
#logo-bar {
	position:absolute;
	top:10%;
	right:0;
	width:900px;
	/* 900 */
	z-index:1000;
	background-color:none;
	/* #fff */ text-align:center;
	margin:0;
	padding:0;
	padding:50px;
	font-size:8em;
	font-weight:bold;
}
/* glow shadow */
.txt {
	color:hsla(0,0%,0%,0);
	text-shadow:#fff 0 0 60px;
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
	-webkit-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-moz-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-ms-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-o-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	transition:text-shadow 2s cubic-bezier(0,1,0,1);
}
@-moz-document url-prefix() {
	.txt {
		text-shadow: #fff 0 0 20px;
	}
}
/* FF fix */
#logo-bar:hover .txt,.txt-active {
	text-shadow:#fff 0 0 5px;
	-webkit-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-moz-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-ms-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-o-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
}
.img {
	color:hsla(0,0%,0%,0);
	text-shadow:red 0 0 60px;
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
	-webkit-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-moz-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-ms-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	-o-transition:text-shadow 2s cubic-bezier(0,1,0,1);
	transition:text-shadow 2s cubic-bezier(0,1,0,1);
}
@-moz-document url-prefix() {
	.img {
		text-shadow: red 0 0 20px;
	}
}
/* FF fix */
#logo-bar:hover .img,.img-active {
	text-shadow:red 0 0 5px;
	-webkit-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-moz-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-ms-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	-o-transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
	transition:text-shadow 1s cubic-bezier(0,0.75,0,1);
}
.highlight {
	margin:0 10px;
	color:hsla(0,0%,0%,0);
	text-shadow:red 0 0 5px;
	font-color:red;
	-webkit-transition:text-shadow 1s cubic-bezier(0,1,0,1);
	-moz-transition:text-shadow 1s cubic-bezier(0,1,0,1);
	-ms-transition:text-shadow 1s cubic-bezier(0,1,0,1);
	-o-transition:text-shadow 1s cubic-bezier(0,1,0,1);
	transition:text-shadow 1s cubic-bezier(0,1,0,1);
}
#logo-bar:hover .highlight {
	text-shadow:red 0 0 100px;
	font-color:red;
	-webkit-transition:text-shadow 2s cubic-bezier(0,0.75,0,1);
	-moz-transition:text-shadow 2s cubic-bezier(0,0.75,0,1);
	-ms-transition:text-shadow 2s cubic-bezier(0,0.75,0,1);
	-o-transition:text-shadow 2s cubic-bezier(0,0.75,0,1);
	transition:text-shadow 2s cubic-bezier(0,0.75,0,1);
}
@-moz-document url-prefix() {
	#logo-bar:hover .highlight {
		text-shadow: red 0 0 20px;
	}
}
/* FF fix */
/* glow shadow end */
#logo {
	margin:15px 0 15px 0;
	width:100%;
	/* 420 */
	height:100%;
	vertical-align:middle;
}
/* todo body.home #logo {
	margin:10px 0 10px 0;
	width:800px;
	height:132px;
	vertical-align: middle;
}
*/
#logo.span {
	display:inline-block;
}
#logo-container {
	position:absolute;
	top:5%;
	right:0%;
	width:93%;
	z-index:1000;
	background-color:#fff;
	text-align:right;
	margin:0;
	padding:0 15px 0 0;
}
#logo-position {
	width:800px;
	z-index:1001;
	text-align:right;
	margin:0 0 0 auto;
	padding:0 0 0 auto;
}
#logo-container img {
	/* filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	opacity:0.3;
	*/
}
#logo-container img:hover {
	/* filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
	*/
}
#navigation {
	border:1px solid red;
}
#page-container {
}
#footage {
	position:absolute;
	bottom:3%;
	right:1%;
	margin:0 0 -4px 0;
	padding:0;
}
.footage-video {
	margin:0 4px;
	padding:0;
	cursor:pointer;
}
.footage-video img {
	margin:0;
	padding:0;
}
#units {
	position:absolute;
	bottom:3%;
	font-size:0.8em;
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
	margin:0;
	padding:7px;
	text-align:center;
	color:#6E6E6E;
	background-color:#fff;
	width:65%;
}
#units span {
	text-align:center;
	margin:10px;
	padding:2px 10px;
	font-weight:bold;
	line-height:1em;
	color:#6E6E6E;
	background-color:#fff;
	cursor:pointer;
	height:1em;
}
span a,span a:hover,span a:visited,span a:active {
	font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
	font-weight:bold;
	text-decoration:none;
	color:#6E6E6E;
}
span a:hover {
	color:#2E2E2E;
}
.opacity30 {
	filter:alpha(opacity=30);
	-moz-opacity:0.3;
	-khtml-opacity:0.3;
	opacity:0.3;
}
.opacity90 {
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity:0.9;
	opacity:0.9;
}
body.kontakt {
	padding:20px;
}
body.kontakt legend {
	color: #DF3A01;
}
div.page-bg-leaf {
	/*background-image:url(../img/bg-leaf.png);
	width:100%;
	height:100%;
	border:1px solid red;
	*/
	padding:0;
	margin:0;
}
#multicolumnElement {
	-webkit-column-width:300px;
	-webkit-column-gap:20px;
	-moz-column-width:300px;
	-moz-column-gap:20px;
	width:940px;
	height:700px;
	margin:0 auto;
}

.p-intro {
	font-size:1.5em;
	line-height:1.3em;
	text-align:center !important;
	padding: 15px;
	margin: 15px;
}

p {
	font-family:georgia;
	font-size:1em;
	line-height:1.4em;
	text-align:justify;
}
NO.p-intro:first-letter {
	color:#5499c5;
	display:inline;
	float:left;
	font-size:4em;
	margin:0px;
	padding:0.2em 0.1em 0 0.1em;
	text-transform:capitalize;
	font-family:'Lobster';
}
img {
	display:block;
	overflow:visible;
}
.touchslider-nav-item-current {
	background-color:red;
	color:white;
}
.touchslider-nav {
	position:absolute;
	top:5%;
	left:5%;
	z-index:100;
	font-family:'Chango';
	font-size:2em;
}
.touchslider-next {
	position:absolute;
	top:20px;
	left:0;
	z-index:100;
	font-family:'Chango';
	font-size:2em;
	cursor:pointer;
}
.touchslider-next-in img {
	width:30px;
	height:30px;
	float:left;
	margin-top:-17px;
	background-color:white;
	padding:10px 6px 10px 10px;
	border-radius:5px;
}
.touchslider-nav-item,.touchslider-next {
	padding:10px;
	margin:10px;
}
.touchslider-nav a {
	text-decoration:none;
	color:white;
}
.slider-text {
	position:absolute;
	top:20%;
	left:15%;
	z-index:100;
	font-family:'Candal';
	font-size:2em;
	color:#FE2EF7;
	height:100%;
}
#runty-about {
	position:absolute;
	top:15%;
	left:70%;
	z-index:100;
	font-family:'Candal';
	font-size:2em;
	color:#FFFF00;
	height:100%;
}
#runty-about h1 {
	margin-left:-250px;
	margin-bottom:50px;
}
#runty-about p span {
	font-family:'Candal';
	background-color:white;
	color:#FF4000;
	padding:5px;
}
#runty-about p {
	line-height:120%;
	font-weight:bold;
	color: #585858;
}
#runty-about ul {
	font-family:'Candal';
	margin-left:100px;
}
#runty-about li {
	line-height:1.2em;
}
#runty-about ul a {
	color:#FFFF00;
}
#runty-about a {
	color:black;
}
#runty-info h1 span,#runty-info h2 span {
	background-color:white;
	line-height:150%;
	padding:5px 10px 15px 10px;
}
#runty-info h1 {
	margin-left:-50px;
}
#runty-info p,#runty-info ul {
	color:white;
	line-height:150%;
}
#runty-info p strong {
	line-height:180%;
}
#aloha-editor-logo {
	position:absolute;
	bottom:1%;
	right:100px;
	z-index:100;
}
#aloha-editor-tech {
	border-radius:10px;
	position:absolute;
	bottom:25px;
	right:100px;
	z-index:100;
}
#aloha-editor-html5 {
	position:absolute;
	bottom:1%;
	right:100px;
	z-index:100;
}
#runty-download {
	position:absolute;
	top:15%;
	left:50px;
	z-index:100;
	background:white;
	width:210px;
	height:220px;
	padding:10px;
	border-radius:10px;
}
#runty-download p {
	text-align:center;
}
#download-link {
	font-size:1.2em;
}
#runty-download img {
	float:left;
	margin-top:0px;
	padding-right:12px;
}
#runty-download a {
	text-decoration:underline;
	color:black;
}
#runty-tech-info a {
	text-decoration:underline;
	color:white;
}
#runty-info a {
	text-decoration:underline;
	color:white;
}
#runty-info em a {
	text-decoration:none;
	color:white;
}
#runty-info em a:hover {
	text-decoration:underline;
}
#runty-info a:hover {
	text-decoration:none;
}
#runty-tech-info p {
	line-height:0.5em;
}
#runty-download h2 {
	margin-bottom:30px;
}
#runty-download h2 span {
	font-size:xx-small;
}
#runty-download p {
	line-height:1.7em;
}
#aloha-editor-flower img {
	z-index:100;
	clear:both;
	float:left;
}
#runty-tech-info {
	border-radius:10px;
	background-color:black;
	width:420px;
	height:118px;
	float:right;
	clear:both;
	position:absolute;
	bottom:50px;
	left:50px;
	z-index:900;
	padding:0px 20px 10px 20px;
	color:white;
}
#open-source-tech-info {
	width:950px;
	height:25px;
	float:right;
	clear:both;
	position:absolute;
	bottom:25px;
	left:40px;
	z-index:900;
	padding:0px 20px 10px 20px;
	color:white;
}
#open-source-tech-info span {
	background-color:#58D3F7;
	padding:10px 20px;
	border-radius:5px;
}
#open-source-tech-info p {
	text-align:center;
}
#open-source-tech-info a {
	font-family:'Chango';
	color:white;
	text-decoration:none;
}
#open-source-tech-info a:hover {
	text-decoration:underline;
}
#runty-install-command {
	background-color:black;
	width:500px;
	height:78px;
	float:right;
	clear:both;
	position:absolute;
	bottom:55px;
	right:540px;
	z-index:800;
	padding:0px 20px 10px 20px;
	color:white;
	float:left;
}
#runty-guides {
	position:absolute;
	top:0px;
	right:600px;
	z-index:100;
	background-color:black;
	width:300px;
	height:80%;
	margin:15% 5% 10% 50%;
	padding:0px 20px 10px 30px;
	color:white;
	border-radius:10px;
}
#runty-guides ul {
	line-height:1.5em;
}
#runty-guides a {
	color:white;
	text-decoration: none;
}
#runty-info p {
	text-align:center;
}
#runty-info p span {
	background-color: white;
	color: black;
	padding: 5px 10px 5px 10px;
}
#runty-info p span a {
	color: black;
}
#browserid {
	position:absolute;
	top:-1px;
	right:-40px;
	z-index: 100;
}
#runty-toolbar {
	position:absolute;
	top:80px;
	left:15px;
	z-index:1000;
	background-color:white;
	border:2px dotted black;
	margin:5px;
	padding:10px 7px 15px 8px;
	font-weight:bold;
	/*font-family:'Candal';
	*/
	font-size:1.5em;
	color:black;
}
#runty-toolbar a {
	color:black;
}
#runty-toolbar a span {
}
#ae-icon-tech-flower {
	position: relative;
	margin:0;
	float:right;
	margin: 0px 70px 0 5px;
}
#mc_embed_signup {
	background:none;
	clear:left;
	font:14px Helvetica,Arial,sans-serif;
	position:absolute;
	top:80px;
	left:50%;
	z-index:1000;
	border:2px dashed black;
	padding:5px;
}
#mce-EMAIL {
	font-size:1.2em;
}
#mc-embedded-subscribe {
	font-size: 1.5em;
	font-weight: bold;
}
.list-item {
	float: left;
	padding: 5px 5px 0 0;
}
.small-info {
	font-size: x-small;
}