/* example.css is part of the Runty NoCMS project http://runtyapp.org
*
* Runty is a handy NoCMS utilizing the power of Aloha Editor
* -- a modern WYSIWYG HTML5 inline editing library and editor.
*
*
* Runty is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public License
* as published by the Free Software Foundation; either version 2
* of the License, or any later version.
*
* Runty is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
*
* Online: https://www.gnu.org/licenses/gpl-2.0.html
*/

/* universal footer */
ul#tempo-actions {
	text-align: center;
	background-color: #f0f0f0;
	margin: 3em 0 0 0;
	padding: 3em;
}
ul#tempo-actions li {
	display: inline-block;
	margin-right: 0.5em;
}
ul#tempo-actions li a {
	display: block;
	padding: 1em;
}
ul#tempo-actions li:hover {
	background-color: #e0e0e0;
}
ul#tempo-actions li:active {
	background-color: #ccc;
}
ul#tempo-actions li.download a {
	color: white;
	background-color: blue;
}
ul#tempo-actions li.download a:hover {
	background-color: darkblue;
}
ul#tempo-actions li.download a:active {
	background-color: black;
}
#footer {
	background-color: black;
	color: white;
	padding: 2em 0px;
}
#footer a {
	color: white;
}

#runty-authenticate {
	position:absolute;
	bottom:20px;
	left:25px;
	z-index:1000;
}